<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="{%static 'css/service.css'%}">
</head>

<body>
    <header>
        <h1>Welcome to Our Service</h1>
    </header>
    <section class="about">
        <h2>About Us</h2>
        <p>The introduction of tourism services revolutionizes travel by offering a wide array of conveniences like
            transportation, accommodation, and entertainment. Evolving from traditional agencies to online platforms,
            tourism services now leverage technology for personalized experiences. Sustainable practices and innovative
            technologies further enhance customer engagement and satisfaction, making tourism services essential in
            today's competitive travel market.</p>
    </section>
    <section class="services">
        <h2>MK Tourism Services</h2>
        <div class="service">
            <h3>Accommodation Services</h3>
            <p>Accommodation services provide travelers with a place to stay during their journeys, ranging from hotels
                and resorts to hostels, vacation rentals, and camping grounds. These services cater to various
                preferences and budgets, offering amenities such as room service, Wi-Fi, recreational facilities, and
                guided tours.</p>
        </div>
        <div class="service">
            <h3>Transportation Services</h3>
            <p>Transportation services facilitate the movement of travelers from one location to another, encompassing
                air travel, ground transportation (such as trains, buses, and rental cars), water transportation
                (including cruises and ferries), and even specialized options like guided tours and private transfers.
                These services ensure connectivity between destinations and contribute to the overall accessibility of
                tourist attractions.</p>
        </div>
        <div class="service">
            <h3>Tour Guide Services</h3>
            <p>Tour guide services provide knowledgeable professionals who accompany travelers and offer insights into
                local culture, history, and attractions. Whether through group tours, private excursions, or audio
                guides, tour guides enhance the travel experience by providing context, answering questions, and
                ensuring safety while exploring destinations.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 My Service Website. All rights reserved.</p>
    </footer>
</body>

</html>